* {
    margin: 0;
    padding: 0;
    font-family: "orbitron";
    font-weight: 400;
}

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

#interface {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 650px;
    background-color: gray;
    margin: 0 auto;
    border: 1px solid black;
}

#buttons {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;  /* all rows equal height */
}

button {
    padding: 16px;
    margin: 5px;
    border: 1px solid black;
    font-size: 16px;
    cursor: pointer;
}

#display {
    background-color: gray;
    width: 100%;
    height: 30%;
    padding: 16px;
    box-sizing: border-box;

}

#innerDisplay {
    height: 100%;
    grid-column: span 1;
    background-color: white;
    border: 1px solid black;
    overflow: hidden;
}

#innerDisplayTop {
    width: 100%;
    height: 35%;
    background-color: white;
}

#innerDisplayBottom {
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#innerDisplayBottom h1 {
    padding: 24px;
    font-size: 32px;
}

#clear,#delete{
    grid-column: span 2;
}
